[Unit]
Description=Noise Detector

[Service]
PIDFile=/var/run/detect-noise-99.pid
User=root
Group=root
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/pi/scripts/detect_noise
ExecStart=sh /home/pi/scripts/detect_noise/detect_noise_level.sh

[Install]
WantedBy=multi-user.target
